﻿@using FoodApp.Core.Models
@using FoodApp.Enums
@model Cafe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Item - Start Bootstrap Template</title>

</head>
<body>

<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- /.col-lg-3 -->
        <div class="col-lg-12">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                <div class="card-body">
                    <h3 class="card-title">@Model.Name</h3>
                    <p class="card-text">@Model.Description</p>
                    <span class="text-warning">Средняя оценка заведения: </span>
                </div>
            </div>
            <!-- /.card -->
            @if (User.IsInRole(Roles.Client.ToString()))
            {
                <div class="col-lg-4">
                    <div class="card mt-4">
                        <div class="card-body">
                            <a asp-controller="ShoppingCart" asp-action="Basket" asp-route-id="@Model.Id">Корзина</a>
                        </div>
                    </div>
                </div>
            }
            <div class="card-body"></div>
            <div class="row">

                @foreach (var dish in Model.Dishes)
                {
                    <div class="col-lg-3 col-md-6 mb-3">
                        <div class="card h-100">
                            <a href="#">
                                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">@dish.Name</a>
                                </h4>
                                <h5>@dish.Price сом</h5>
                                <p class="card-text">@dish.Description</p>
                            </div>
                            @if (User.IsInRole(Roles.Client.ToString()))
                            {
                                <div class="card-body">
                                    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@dish.Id" class="btn btn-success">Добавить в корзину <i class="fa fa-beer"></i></a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Отзывы
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Оценка 5</small>
                    <hr>
                    @if (User.IsInRole(Roles.Client.ToString()))
                    {
                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <a asp-controller="Cafe" asp-action="Review" asp-route-id="@Model.Id">Оставить отзыв</a>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>

            <!-- /.card -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
</div>
<!-- /.container -->

</body>
</html>
