﻿@model IEnumerable<FoodApp.Core.Models.Cafe>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
</head>
<body>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">Shop Name</h1>
            @foreach (var cafe in Model)
            {
            <div class="list-group">
                <a class="list-group-item" asp-action="Details" asp-route-id="@cafe.Id">@cafe.Name</a>
            </div>
            }
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">

            <div class="row">
                @foreach (var cafe in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a asp-action ="Details" asp-route-id="@cafe.Id">
                                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a asp-action ="Details" asp-route-id="@cafe.Id">@cafe.Name</a>
                                </h4>
                                <p class="card-text">@cafe.Description</p>
                            </div>

                        </div>
                    </div>
                }
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</body>
</html>
