﻿@using FoodApp.Core.Models
@model IEnumerable<CartItem>

@{
    ViewData["Title"] = "Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Basket</title>
    @if (!Model.Any())
    {
        <h2>Корзина пустая</h2>
    }

    @if (Model.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название блюда</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
            </tr>
            </thead>
            @{
                foreach (var cartItem in Model)
                {
                    <tbody>
                    <tr>
                        <th scope="row">@cartItem.Id</th>
                        <td>@cartItem.Dish.Name</td>
                        <td>@cartItem.Quanity</td>
                        <td>@cartItem.Dish.Price</td>
                    </tr>
                    </tbody>
                }
            }

        </table>
        var total = 0;
        foreach (var cartItem in Model)
        {
            total += cartItem.Quanity * cartItem.Dish.Price;
        }
        <div style="position: absolute; right: 50px">
            <h5>Общая сумма: @total</h5>
        </div>
        <div class="card-body">
            <a asp-controller="ShoppingCart" asp-action="CreateOrder" class="btn btn-success">Оформить заказ</a>
        </div>
    }


</head>
<body>
</body>
</html>
