﻿@model FoodApp.Core.Models.Order

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Order</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOrderPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalOrderPrice)
        </dd>
        <dd class="col-sm-10">
            Список блюд
        </dd>
        @{
            var i = 1;
            foreach (var orderDetail in Model.OrderDetails)
            {
        <dd class="col-sm-10">
            <b>@i)</b>
            Название блюда: <b>@orderDetail.Dish.Name</b>
            Название кафе: <b>@orderDetail.Dish.Cafe.Name</b>
            Цена блюда: <b>@orderDetail.Dish.Price</b>
            </dd>
                i++;
            }
        }



    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
